* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 95px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.bander {
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 48.5px;
}

.bander img {}

.content_main-left ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.content_main-left ul li {
    font-size: 20px;
    padding-bottom: 24px;
    cursor: pointer;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
}

.hien {
    display: none;
}

@media (max-width:740px) {
    .wide {
        margin: 0px -10px;
        padding: 0px 10px;
    }

    .hien {
        display: block;
    }

    .header {
        height: 95px;
    }

    .content__main {
        display: flex;
        flex-direction: column;


    }

    .content_main-left {}

    form.hien {
        width: 40%;
        /* border:1px solid #000000; */
        margin-bottom: 40px;
    }

    form.hien select {
        font-weight: 600;
        letter-spacing: -0.02em;
        width: 100%;
        font-size: 16px;
        padding: 18px 0px 18px 20px;
        border: 1px solid rgba(0, 0, 0, 0.6);
    }

    .content_main-left ul li a {
        font-size: 20px;
        display: inline;
        padding-bottom: 24px;
        line-height: 24px;
        color: #000000;
    }

    .content__main__tittle {

        margin: auto;
    }

    ul.flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    ul.flex li {
        /* width: 22% */
    }

    ul.flex li a {
        display: block;
        margin: 0;
        padding: 10px;
        padding-bottom: 15px;
        margin-bottom: 10px;
    }

    .container223 {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        right: 0;
        left: 0;
        display: none;
        top: 0;
        bottom: 0;
    }

    .container223 .cart_pro {
        /* animation: modalShow 0.3s; */
        /* float: right; */
       width: 100%;

       /* height: 100%; */
        /* width: 300px; */
        min-height: 500px;
        border-radius: 5px;
        /* background-color: #fff; */
    }
    .cart_pro table,.cart_pro tr ,.cart_pro td{
        width: 100%;
    }

}

@media (min-width: 740px) and (max-width: 1023px) {
    .header {
        height: 95px;


    }

    .bander {
        padding-top: 0;

        margin-bottom: 48.5px;
    }


    .content_main-left ul li a {
        font-size: 18px;
        padding-bottom: 24px;
        line-height: 24px;
        color: #000000;
        padding-right: 12px;
        margin-right: -12px;
    }
}

.container223 {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    ;
    right: 0;
    left: 0;
    display: none;
    top: 0;
    bottom: 0;
}

.cart_pro {
    animation: modalShow 0.3s;
    /* background-color: greenyellow; */
    position: absolute;
    /* top: 40px; */
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 80%;
    /* min-height: 100vh; */
}

.hidden {
    display: block;
}

.cart_pro table {
    color: black;
    font-size: 18px;
    /* width: 90%; */
    background-color: burlywood;
    /* height: 100%; */
    margin: 0 auto;
    border-collapse: collapse;
}

table,
td,
tr {
    border: 1px solid #fff;
}

table tr td img {
    height: 80px;
    padding: 0;
    margin: auto;
}

table th, td {
    text-align: center;
    padding: 8px;
}

tr td:first-child {
    width: 380px;
    font-weight: 600;

}
tr td input{
    width: 80%;
    margin: auto;
}
tr td:last-child{
    width: 70px;
}
tr>td{
    width: fit-content;
}
td button {
    padding: 8px 10px;
    background-color: rgb(244, 46, 46);
    border-radius: 5px;
    font-size: 18px;
    color: azure;
}
.tt_show{
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
}

td input {
    border: 1px solid #ccc;
    outline: none;
    width: 70%;
    padding: 8px;
    border-radius: 10px;
}

tbody {
    /* min-height: 100px; */
}